<header>
    <div class="container">
        <h1 class="logo"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Trang chủ</a></li>
                <li><a href="{{ '/categories/' | relative_url }}" {% if page.url == '/categories/' %}class="active"{% endif %}>Chủ đề</a></li>
                <li><a href="{{ '/about/' | relative_url }}" {% if page.url == '/about/' %}class="active"{% endif %}>Giới thiệu</a></li>
                <li><a href="{{ '/contact/' | relative_url }}" {% if page.url == '/contact/' %}class="active"{% endif %}>Liên hệ</a></li>
            </ul>
        </nav>
    </div>
</header>
